@charset "UTF-8";

body{
    font-family:"Yu Gothic","Meiryo",sans-serif;
    background:#f4f4f4;
}

/* ヘッダー */
.title{
    background:#6f4e37;
    padding:18px;
    text-align:center;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
}

.title a{
    color:#fff;
    text-decoration:none;
    font-size:30px;
    font-weight:bold;
    letter-spacing:1px;
}

.user{
    max-width:1000px;
    margin:15px auto;
    text-align:right;
    font-size:18px;
    font-weight:bold;
}

.user a{
    margin-left:20px;
    color:#6f4e37;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
}

.user a:hover{
    text-decoration:underline;
}

/* ログインカード */
.login-form{
    width:400px;
    margin:40px auto;
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
    text-align:center;
}


/* タイトル */
.login-form h4{
    color:#6f4e37;
    font-size:22px;
    margin-bottom:15px;
}

/* 入力行 */
.login-form p{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:15px 0;
}

.login-form label{
    width:110px;
    text-align:right;
    margin-right:10px;
    font-size:16px;
    font-weight: bold;
}

/* 入力欄 */
.login-form input[type="text"],
.login-form input[type="password"]{
    width:200px;
    padding:6px;
    margin:6px 0;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:14px;
}


/* ログインボタン */
.login-form input[type="submit"]{
    display:inline-block;
    width:30%;
    padding:8px 0;
    margin-top:10px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
    font-size:14px;
    cursor:pointer;
    box-sizing:border-box;
}

.login-form input[type="submit"]:hover{
    background:#0056b3;
}

/* 新規登録リンク */
.btn-link{
    display:inline-block;
    width:29%;
    padding:8px 0;
    margin-top:10px;
    background:#007bff;
    color:white;
    border-radius:5px;
    font-size:14px;
    cursor:pointer;
    text-decoration:none;
    text-align:center;
    box-sizing:border-box;
    position:relative;
    top:-1px;
}

.btn-link:hover{
    background:#0056b3;
}

.container{
    width:90%;
    max-width: 1200px;
    margin:40px auto;
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

h2{
    text-align:center;
    margin-bottom:30px;
    color:brown;
    font-size:28px;
}

h2 a {
    color: inherit;
    text-decoration: none;
}

h2 a:hover {
    opacity: 0.8;
}

/* メニュー画面 */
.menu-box{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:30px;
    flex-wrap: nowrap;
}


/* 各メニューカード */
.box{
    flex: 1;
    max-width: 200px;
    height: 100px;
    background:#fff;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
    display:flex;
    justify-content:center;
    align-items:center;
}


/* メニューリンク */
.box a{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    text-decoration:none;
    color:white;
    background:burlywood;
    border-radius:10px;
    font-size:20px;
    font-weight:bold;
}


.box a:hover{
    background:brown;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    border:1px solid #ccc;
    padding:10px;
    text-align:center;
}

th{
    background:#6f4e37;
    color:white;
}

.button{
    margin-top:20px;
    text-align:right;
}

.button a{
    display:inline-block;
    padding:10px 20px;
    background:#007bff;
    color:#fff;
    text-decoration:none;
    border-radius:5px;
}

.button a:hover{
    background:#0056b3;
}

/* 商品一覧画面 */

/* 説明文 */
.container h3{
    color:#6f4e37;
    font-size:16px;
    margin-top:20px;
}


/* 検索フォーム */
.container form{
    margin:20px 0;
    text-align:left;
}


.container input[type="text"]{
    width:250px;
    padding:8px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:14px;
}


/* 検索ボタン */
.search-btn{
    padding:8px 20px;
    margin-left:10px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.search-btn:hover{
    background:#0056b3;
}


/* 更新ボタン */
.reserve-btn{
    display:block;
    margin:0 auto;
    padding:6px 15px;
    background:burlywood;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

/* 送信ボタン */
.submit-btn{
    margin:0 auto;
    padding:6px 15px;
    background:burlywood;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.submit-btn:hover{
    background:#8b5a2b;
}

.reserve-btn:hover{
    background:#8b5a2b;
}

/* 商品登録フォーム */
/* input-form */
.input-form {
    width:450px;
    margin:30px auto !important;
    display:block;
}

.input-form input[type="text"],
.input-form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

/* ジャンル選択だけ丸くする */
.input-form select{
    border-radius:5px;
}

.input-form h3 {
    text-align: center;
    color: #8b5a2b;
    font-size:20px;
    margin-bottom:25px;

}

.input-form p {
    margin: 10px 0;
    font-weight: bold;
}

.inline-form {
    display: inline;
}


/* error */
.error {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: pre-line;
}
