<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>SalesMenuServlet</display-name>
    <servlet-name>SalesMenuServlet</servlet-name>
    <servlet-class>servlet.SalesMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesMenuServlet</servlet-name>
    <url-pattern>/SalesMenuServlet</url-pattern>
  </servlet-mapping>
  <display-name>cafeDX</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DailySalesServlet</display-name>
    <servlet-name>DailySalesServlet</servlet-name>
    <servlet-class>servlet.DailySalesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailySalesServlet</servlet-name>
    <url-pattern>/DailySalesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MonthlySalesServlet</display-name>
    <servlet-name>MonthlySalesServlet</servlet-name>
    <servlet-class>servlet.MonthlySalesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonthlySalesServlet</servlet-name>
    <url-pattern>/MonthlySalesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesDetailServlet</display-name>
    <servlet-name>SalesDetailServlet</servlet-name>
    <servlet-class>servlet.SalesDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesDetailServlet</servlet-name>
    <url-pattern>/SalesDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesReportServlet</display-name>
    <servlet-name>SalesReportServlet</servlet-name>
    <servlet-class>servlet.SalesReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesReportServlet</servlet-name>
    <url-pattern>/SalesReportServlet</url-pattern>
  </servlet-mapping>
</web-app>